<!DOCTYPE html>

<html>
    
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Hi, This is me. {{name}} !</p>
        <img class="portrait" src="/img/BeautyPlus_20170404011009_save.jpg">
    </div>
    
    {{>footer}}
</body>

</html>